<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
{{{body}}}
<script src="/bower_components/traceur/traceur.min.js"></script>
<script src="/bower_components/es6-shim/es6-shim.min.js"></script>
<script src="/bower_components/es6-module-loader/dist/es6-module-loader-sans-promises.js"></script>

</body>
</html>
